.addToCart {
    border: none;
    background: $off-green;
    color: white;
    padding: $s-size;
    border-radius: 5px;
    font-size: $s-size;
    font-weight: 600;
    box-shadow: 0.3rem 0.3rem 0.5rem darken($off-white, 50%);
    transition-duration: 0.4s;

    &:hover {
        background: white;
        border: 1px solid $off-green;
        color: black;
    }
}

.btn-qty {
    font-size: $m-size;
    background: blue;
    color: white;
    border: none;
    border-radius: 50%;
    padding: $xs-size $s-size;
    margin: 0 $s-size;
}

.remove {
    background: $off-white;
    color: darken($off-white, 9%);
    border: none;
    padding: 1px 5px;
    margin-left: $s-size;
    transition: ease-in 0.2s;

    &:hover {
        background: red;
        color: white;
    }
}