.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $off-green;
    padding: $xs-size;

    h1 {
        margin-left: $l-size;
        font-style: italic;
        padding: 0.2rem;
        color: $off-white;
        cursor: pointer;

    }

    button {
        margin-right: $l-size;
        background: white none;
        font-weight: 600;
        border: none;
        font-size: $s-size;
        cursor: pointer;
        padding: $xs-size;
        border-radius: $xs-size;
        transition-duration: 0.4s;

        &:hover {
            background: black;
            color: white;
        }
    }

    @media (max-width: 420px) {
        h1 {
            font-size: $l-size;
        }

        button {
            font-size: 0.8rem;
        }
    }
}